services:
  state-store-redis:
    image: redis:7-alpine3.18
    container_name: state-store-redis
    ports:
      - "6379:6379"
    command:
      - 'redis-server'
      - '--loglevel warning'
      - '--appendonly yes'
      - '--requirepass my_insecure_password'
    volumes:
      - state-store-redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "my_insecure_password", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  state-store-redis-data: {}
