name: Publish decidim

on:
  workflow_dispatch:
  push:
    branches:
      - packages/octree

concurrency:
  group: publish-decidim
  cancel-in-progress: false

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

jobs:
  Publish-decidim:
    if: github.repository == 'octree-gva/activepieces' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.bun/install/cache
          key: bun-${{ hashFiles('bun.lock', 'package.json') }}
          restore-keys: bun-

      - name: Setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: npx nx test pieces-decidim

      - name: Build package
        run: npx nx run-many --target=build --projects=pieces-decidim

      - name: Copy project .npmrc to user level
        run: cp .npmrc $HOME/.npmrc

      - name: Publish to npm
        run: |
          VERSION=$(cat packages/pieces/community/decidim/package.json | jq -r .version)
          npx ts-node -r tsconfig-paths/register -P packages/engine/tsconfig.lib.json tools/scripts/utils/publish-nx-project.ts packages/pieces/community/decidim
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
